# FOLDER IGNORES
.idea
.settings
bower_components/
build/
CloudCode/
node_modules/
# FILE IGNORES
dist/Akinnovate.Events*.nupkg
dist/nuget.exe
src/*.js
src/*.js.map
src/*.d.ts
tests/config.js
tests/populate.html
coverage/